
/***
VBOX CSS
***/
@media (min-width:320px) and (max-width:767px) {
	.dvUpload {
		padding: 20px 10px;
	}
	.queFiles {
		padding: 20px;
	}
	.dvConstraints.vbox {
		width: 290px;
	}
	.dvProcess {
		padding: 20px 0 0 0;
	}
	.processRow {
		margin: 0 0 20px 0;
	}
	.modalHeader {
		padding: 20px 10px;
		.modalTitle {
			font-size: 20px;
			margin: 0 0 5px 0;
		}
		h5 {
			font-size: 14px;
		}
	}
	.btnGraphDelete {
		width: 86px;
		vertical-align: top;
		margin: 0;
	}
	.btnGraphDone {
		width: 86px;
		vertical-align: top;
		margin: 0;
	}
	.btnGraphUndo {
		width: 86px;
		vertical-align: top;
		margin: 0;
	}
}
@media (min-width:768px) and (max-width:1024px) {
	.btnGraphDelete {
		margin: 0 10px;
	}
	.btnGraphDone {
		margin: 0 10px;
	}
	.btnGraphUndo {
		margin: 0 10px;
	}
}
